# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/exercises/AccountAndCostumer/build/
/exercises/AccountAndCostumer/nbproject/private/
/exercises/AirlaneReservationSystem/build/
/exercises/AirlaneReservationSystem/nbproject/private/
/exercises/BirthdayReminder/build/
/exercises/BirthdayReminder/nbproject/private/
/exercises/CircleAndCylindre/build/
/exercises/CircleAndCylindre/nbproject/private/
/exercises/ConstructId/build/
/exercises/ConstructId/nbproject/private/
/exercises/DayOfWeek/build/
/exercises/DayOfWeek/nbproject/private/
/exercises/Duplicate/build/
/exercises/Duplicate/nbproject/private/
/exercises/Employee/build/
/exercises/Employee/dist/
/exercises/Employee/nbproject/private/
/exercises/HeadFirstJava(1-exemplu)/build/
/exercises/HeadFirstJava(1-exemplu)/dist/
/exercises/HeadFirstJava(1-exemplu)/nbproject/private/
/exercises/InvoiceAndCustomer/nbproject/private/
/exercises/Laborator2/build/
/exercises/Laborator2/nbproject/private/
/exercises/Major/nbproject/private/
/exercises/MeanMedian/nbproject/private/
/exercises/MetricConversion/nbproject/private/
/exercises/Morse/build/
/exercises/Morse/nbproject/private/
/exercises/Movie/build/
/exercises/Movie/nbproject/private/
/exercises/MyPoint/build/
/exercises/MyPoint/nbproject/private/
/exercises/Palindrome/nbproject/private/
/exercises/PhoneNumberFormat/nbproject/private/
/exercises/PigLatin/nbproject/private/
/exercises/Point2D3D/build/
/exercises/Point2D3D/nbproject/private/
/exercises/Polling/nbproject/private/
/exercises/Time/nbproject/private/
/exercises/ValidatePassword/nbproject/private/
/exercises/VariableEnought/nbproject/private/
/exercises/firstName/build/
/exercises/firstName/nbproject/private/